body{
    background-color: #000814
}
.rating-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15em;
}
.thanks-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15em;
}
.rating-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5%;
    background-color: #00171f;
    padding: 10px;
    width: 450px;
    height: 450px;
}
.rating-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 30px;
}
.thanks-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    background-color: #00171f;
    padding: 10px;
    width: 450px;
    height: 450px;
}
.rating-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rating-main svg{
    border-radius: 50%;
    padding: 20px;
    background-color: #33415c;
}
.thanks-main svg{
    margin: 25px 0px;
}
h1{
    color: white;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}
p{
    color: hsl(216, 12%, 54%);
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.rating-numbers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
label{
    background-color: hsl(213, 19%, 23%);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 10px 25px 10px;
    color: hsl(217, 12%, 63%);
    cursor: pointer;
}
.rating-numbers label:hover{
    background-color: hsl(25, 97%, 53%);
    color: white;
}

input{
    display: none;
}

input:checked + label{
    transition: all 0.5s;
    background-color: hsl(217, 12%, 63%);
    color: white;
}

#submit{
    border: 0;
    border-radius: 20px;
    width: 350px;
    padding: 10px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}
#submit:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}
.thanks-message{
    color: hsl(216, 12%, 54%);
    font-weight: 400;
    font-size: 15px;
    margin: 0px 55px;
}
#thanks-rating{
    color: hsl(25, 97%, 53%);
    background-color: #33415c;
    padding: 10px;
    border-radius: 20px;
}

.selection{
    color: hsl(25, 97%, 53%);   
}

.hidden{
    display: none;
}

@media screen and (max-width: 500px){
    .rating-card, .thanks-main{
        width: 400px;
        height: 400px;
    }
    .rating-main svg{
        padding: 13px;
        margin: 20px 0px 0px 0px;
    }
    p{
        margin: 0;
    }
}

@media screen and (max-width: 450px){
    .rating-card, .thanks-main{
        width: 350px;
        height: 375px;
    }
    .rating-main svg{
        padding: 13px;
        margin: 20px 0px 0px -10px;
    }
    p{
        margin: 0;
    }
    button{
        margin: 10px 0 10px 0;
    }
}